body {
  font-family: Work Sans;
  text-align: center;
  background-color: rgb(248, 251, 251);

}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(248, 251, 251);
  
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.my-pic {
  width: 550px;
}

.label {
  text-align: left;
}

footer.footer {
  background-color: rgb(248, 251, 251);
}